@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: "Roboto", sans-serif;
}

.container{
    height: 99vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(4, 197, 133);
}

nav{
    position: fixed;
    top: 10px;
    font-size: 40px;
}

.box{
    display: grid;
    margin-top: 70px;
    height: 70vh;
    width: 75vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
}
.bt{
    width: 60vw;
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.temp{
    grid-column: 1/3;
    grid-row: 1/2;
}
.tds{
  grid-column: 3/5;
    grid-row: 1/2;
}
.humidity{
    grid-column: 1/3;
    grid-row: 2/3;
    
}
.level{
    grid-column:3/5;
    grid-row:2/3;
}
.align{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
h3{
    margin-bottom: 20px;
}
h4{
    font-size: 30px;
}
.button{
    height: 100%;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid white;
    border-radius: 20px;
}
.button:hover{
     background-color: rgb(77, 243, 188);
}
@media only screen and (max-width: 1400px) {
    nav{
       font-size: 90px;
    }
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
       background-color: rgb(4, 197, 133); 
    }
   .container{
    height: 70vh;
    width: 100vw;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .box{
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .bt{
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-top: 100px;
   }
   .button{
     height: 80px;
     width: 190px;
     font-size: 40px;
     border: 5px solid white;
     border-radius: 30px;
   }
   .align{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   h4{
    font-size: 50px;
   }
}